.boton-redicceción {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  font-family: sans-serif;
}